{% extends 'base.html' %}
<!DOCTYPE html>
{% block title %}
<title>Search</title>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="">
            <h3>Buy</h3>
            <form class="col s12" action="{% url 'result_view' %}" >
                <div class="form-group">
                    <label for="property_type">Property Type</label>
                    {{ buyform.property_type }}
                </div>
                <div class="form-group">
                    <label for="maxprice">Max Price</label>
                    {{ buyform.maxprice }}
                </div>
                    <div class="form-group">
                    <label for="minprice">Min Price</label>
                    {{ buyform.minprice }}
                </div>
                <div class="form-group">
                    <label for="bedrooms">Bedrooms</label>
                    {{ buyform.bedrooms }}
                </div>
                <div class="form-group">
                    <label for="carspace">Cars Space</label>
                    {{ buyform.carspace }}
                </div>
                <div class="form-group">
                    <label for="furnished">Furnished</label>
                    {{ buyform.furnished }}
                </div>
                <div class="form-group">
                    <label for="surburb">Suburb</label>
                    {{ buyform.suburb }}
                </div>
                {{ buyform.search_type }}
            </form>
        </div>
        <div class="col-xs-4 col-xs-offset-1">
            <h3>Rent</h3>
            <form role="form" action="{% url 'result_view' %}" >
                <div class="form-group">
                    <label for="property_type">Property Type</label>
                    {{ rentform.property_type }}
                </div>
                <div class="form-group">
                    <label for="maxprice">Max Price</label>
                    {{ rentform.maxprice }}
                </div>
                    <div class="form-group">
                    <label for="minprice">Min Price</label>
                    {{ rentform.minprice }}
                </div>
                <div class="form-group">
                    <label for="bedrooms">Bedrooms</label>
                    {{ rentform.bedrooms }}
                </div>
                <div class="form-group">
                    <label for="carspace">Cars Space</label>
                    {{ rentform.carspace }}
                </div>
                <div class="form-group">
                    <label for="furnished">Furnished</label>
                    {{ rentform.furnished }}
                </div>
                <div class="form-group">
                    <label for="surburb">Suburb</label>
                    {{ rentform.suburb }}
                </div>
                {{ rentform.search_type }}
            </form>
        </div>
    </div>
</div>
{% endblock %}